# DATABASE_URL=postgresql://neondb_owner:npg_S2fK7GEryiZe@ep-jolly-cell-aq6yx96n.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
DB_HOST=localhost
DB_PORT=5433
POSTGRES_USER=proy2
POSTGRES_PASSWORD=secret
POSTGRES_DB=tacospepe
PORT=3000
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=3Lh9Xq2Wp8Md1Kz7Rv5Nc6Ts4By0Jf8Pm2Qa7Ud6He1Yr4Ko
SESSION_COOKIE_SAME_SITE=lax
SESSION_COOKIE_SECURE=false

# Cloudinary — imágenes de productos
CLOUDINARY_CLOUD_NAME=dku354y0m
CLOUDINARY_API_KEY=614336876736988
CLOUDINARY_API_SECRET=8S5Zxxy2gta0kxYfDbF22V4myOM
CLOUDINARY_PRODUCT_FOLDER=tacos-el-pepe/productos
